
.main-box {
    display: grid;
    background: #e5e7eb;
    grid-template-rows: minmax(100px, auto);
    padding: 10px;
    grid-template-columns: 4fr, 2fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.box-1{
    background-color: blue;
    padding: 10px;
    grid-column: 1/3;
    grid-row: 1/3;



}

.box-2{
    background-color: red;
    padding: 5px;
    grid-column: 2;
    grid-row: 1/3;
}

.box-3{
    background-color: green;
    padding: 10px;
    grid-column: 2/4;
    grid-row: 3;
}

.box-4{
    background-color: yellow;
    padding: 10px;
    grid-column: 1;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
}