body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* AUTH FORMS */
.auth-form {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

.auth-form h2 {
    text-align: center;
}

.auth-form input {
    width: 100%;
    padding: 8px;
    margin: 8px 0 15px 0;
}

.btn {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #04AA6D;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.switch {
    text-align: center;
    margin-top: 10px;
}

/* HOME PAGE */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
}

.header a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.main {
    margin-top: 120px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
}
